@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Inventory Management System built with ASP.NET Core</a>.</p>
    <a asp-controller="Products" asp-action="Index">Products</a>
    <a asp-controller="Categories" asp-action="Index">Categories</a>
    <a asp-controller="Suppliers" asp-action="Index">Suppliers</a>
</div>
